<div class="card">
    <div class="card-body">
      <h5 class="card-title">Cookie Policy</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h6>POLITICA PRIVIND COOKIES SI ALTE TEHNOLOGII SIMILARE</h6>
        <p>
            1. <b>Ce este un “cookie”?</b>
        </p>
        <p>
            1.1.         Termenul „cookie” se referă la tehnologiile bazate pe principiul stocării și accesării de informații privind terminalul (e.g. PC, laptop, tableta, telefon mobil) folosit de un
        </p>
        <p>
            vizitator al unei pagini de internet.
        </p>
        <p>
            1.2.         Fișierele cookie reprezintă fișiere de text care conțin cantități mici de informații format din litere și numere, care va fi stocat pe dispozitivul utilizatorului.
        </p>
        <p>1.3.         Cookie-urile sunt instalate prin solicitarea emisă de către un web-server unui browser (ex: Internet Explorer, Firefox, Chrome) și este complet "pasiv" (nu conține</p>
      <p>programe software, viruși sau spyware și nu poate accesa informațiile de pe hard drive-ul utilizatorului).</p>
    </li>
    </ul>
  </div>
  