<div class="container">
  <div class="contact">
    <div class="logo">
      <img class="mail-icon" src="assets/mail.png" />
    </div>
    <div class="contact-text">
      <h2>Contact us</h2>
      <p>You can use our phone or our email address</p>
    </div>
  </div>
  <div class="cards">
    <a class="card" href="tel://0215392524">
      <div class="card-title">
        <h5>Call us</h5>
      </div>
      <div class="card-body">
        <p>
          We will answer your phone calls between 9-17, from Monday till Friday.
        </p>
      </div>
      <div class="card-footer">
        <mat-icon> local_phone</mat-icon>
        <p>021 539 2524</p>
      </div>
    </a>
    <a class="card" href="mailto:customer@obsentum.com">
      <div class="card-title">
        <h5>Write us an email</h5>
      </div>
      <div class="card-body">
        <p>
          You can write to us an email whenever you want and we will make sure
          you get an answer in 1 business day.
        </p>
      </div>
      <div class="card-footer">
        <mat-icon> mail_outline</mat-icon>
        <p>customer@obsentum.com</p>
      </div>
    </a>
  </div>
  <div class="py-3 d-flex align-items-center">
    <hr class="flex-grow-1" />
    <div class="badge bg-secondary">OR</div>
    <hr class="flex-grow-1" />
  </div>
  <div class="form">
    <p class="form-description">
      Use the contact form below to send us a message.
    </p>
    <div class="card">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            required
            [ngClass]="{ 'is-invalid':submitted &&  f['firstName'].errors }"
            formControlName="firstName"
          />
          <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
            <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
            <div *ngIf="f['firstName'].errors['minlength']">
              First Name must be at least 1 character
            </div>
            <div *ngIf="f['firstName'].errors['maxlength']">
              First Name must not exceed 30 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            required
            [ngClass]="{ 'is-invalid':submitted && f['lastName'].errors }"
            formControlName="lastName"
          />
          <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
            <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
            <div *ngIf="f['lastName'].errors['minlength']">
              Last Name must be at least 1 character
            </div>
            <div *ngIf="f['lastName'].errors['maxlength']">
              Last Name must not exceed 30 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
            formControlName="email"
            [ngClass]="{ 'is-invalid':submitted &&  f['email'].errors }"
          />
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input
            type="tel"
            class="form-control"
            id="phoneNumber"
            name="phoneNumber"
            required
            formControlName="phoneNumber"
            [ngClass]="{ 'is-invalid':submitted &&  f['phoneNumber'].errors }"
          />
          <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
            <div *ngIf="f['phoneNumber'].errors['required']">Phone Number is required</div>
            <div *ngIf="f['phoneNumber'].errors['phoneNumber']">Phone Number is invalid</div>
          </div>
        </div>
        <div class="form-group">
          <label for="inquireTypeId">Inquire Type</label>
          <select
            class="form-control"
            id="inquireTypeId"
            name="inquireTypeId"
            required
            formControlName="inquireTypeId"
            [ngClass]="{ 'is-invalid':submitted &&  f['inquireTypeId'].errors }"
          >
          <div *ngIf="submitted && f['inquireTypeId'].errors" class="invalid-feedback">
            <div *ngIf="f['inquireTypeId'].errors['required']">Inquire Type is required</div>
          </div>
          <option *ngFor="let inquire of inquireTypes" [value]="inquire.inquireTypeId">{{inquire.label}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="answerTypeId">Answer By</label>
          <select
            class="form-control"
            id="answerTypeId"
            name="answerTypeId"
            required
            formControlName="answerTypeId"
            [ngClass]="{ 'is-invalid': submitted && f['answerTypeId'].errors }"
          >
          <div *ngIf="submitted && f['answerTypeId'].errors" class="invalid-feedback">
            <div *ngIf="f['answerTypeId'].errors['required']">Answer Type is required</div>
          </div>
          <option *ngFor="let answer of answerTypes" [value]="answer.answerTypeId">{{answer.label}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            required
            formControlName="message"
            [ngClass]="{ 'is-invalid':submitted &&  f['message'].errors }"
          ></textarea>
          <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
            <div *ngIf="f['message'].errors['required']">Message is required</div>
            <div *ngIf="f['message'].errors['minlength']">
              Message must be at least 10 characters
            </div>
            <div *ngIf="f['message'].errors['maxlength']">
              Message must not exceed 255 characters
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-dark"
        >
          Send
        </button>
      </form>
    </div>
  </div>
  <div class="company-data">
    <h5>Company data:</h5>
    <div class="card">
      <div class="half-card">
        <p>SC MILLENIUM PRO DESIGN SRL</p>
        <p>Str. Sulfinei Nr. 3</p>
        <p>Otopeni, Ilfov</p>
        <p>Cod postal: 075100</p>
      </div>

      <div class="half-card">
        <p>CUI: RO 12098582</p>
        <p>Reg. Com: J23/1088/2011</p>
        <p>Cont bancar: RO96 BRDE 450S V099 6586 4500</p>
        <p>Capital social: 9200 lei</p>
      </div>
    </div>
  </div>
</div>
