<div class="card">
    <div class="card-body">
      <h5 class="card-title">Return</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h6>Returnarea produselor </h6>
      <p>Returnarea produselor achizitionate de pe Obsentum.com se supune ordonantei nr. 34/2014, cu completarile si modificarile ulterioare, privind regimul juridic al contractelor la</p>
      <p>distanta. Toate detaliile de ordin legal referitoare la returnarea produselor pot fi consultate si in documentul Termeni si Conditii.</p>
    </li>
    </ul>
  </div>
  