<div class="card">
    <div class="card-body">
      <h5 class="card-title">Delivery & Shipping</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h6>Procesul de livrare</h6>
      <p>Toate produsele comercializate de OBSENTUM sunt livrate exclusiv pe teritoriul Romaniei.</p>
      <p>Toate comenzile sunt livrate prin intermediul partenerilor nostri de incredere - companiile de curierat TNT si FanCourier. Costurile de livrare sunt suportate de catre</p>
      <p>OBSENTUM, indiferent de dimensiunea sau de numarul de colete.</p>
    </li>
    </ul>
  </div>
  