<nav class="navbar navbar-expand-lg navbar-white">
      <ul class="navbar-nav">
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="navbarDropdownFragrancesLink"  role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fragrances
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownFragrancesLink">
            <a class="dropdown-item" >Eau de parfum</a>
            <a class="dropdown-item" >Extract</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFaceCareLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Face Care
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownFaceCareLink">
              <a class="dropdown-item" href="#">Moisturisers</a>
              <a class="dropdown-item" href="#">Masks</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMakeupLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Makeup
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMakeupLink">
              <a class="dropdown-item" href="#">Foundation</a>
              <a class="dropdown-item" href="#">Contour</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBathBodyLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bath & Body
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownBathBodyLink">
              <a class="dropdown-item" href="#">Body cream</a>
              <a class="dropdown-item" href="#">Body lotion</a>
            </div>
          </li>
      </ul>
  </nav>