.navbar.navbar-expand-lg.navbar-white {
  margin-top: 0.5%;
  display: flex;
  justify-content: center;
}
.nav-item.dropdown {
  padding: 5px 10px 5px 10px;
}
.navbar-nav {
  display: flex;
  margin: 1rem 0;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  background: #fff;
  font-weight: 400;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  border-radius: 0.28571429rem;
  min-height: 2.85714286em;
}
.nav-link.dropdown-toggle {
  color: black;
  border-radius: 10%;
}
.dropdown-menu.show{
  padding-top: 0px;
  padding-bottom: 0px;
}
.dropdown-item.active{
  color: black;

}
.dropdown-menu {
  --bs-dropdown-link-hover-color: black;
  --bs-dropdown-link-hover-bg: #beb29e;
  --bs-dropdown-link-active-color: white;
  --bs-dropdown-link-active-bg: white;
}
.dropdown-item.active:hover{
  background-color: #beb29e;
}
.nav-item.dropdown:hover{
 background-color: #beb29e;
}