<div class="container">
  <img class="scent-logo" src="assets/scent-logo.jpg" />
  <div class="product-container">
    <div class="half-container">
      <img class="img-fluid" src="assets/no-play.jpg" />
    </div>
    <div class="half-container">
      <h3>NO PLAY, NO PARTY</h3>
      <p>
        Every composition plays on the contrasting facets of nature while
        absorbing its natural ingredients leading to their essence interlocking
        with your singular skin-scape. And such a scented toy is essential as it
        stimulates the ability to choose the perfect one. The one for the only
        you.
      </p>
      <button type="button" class="btn btn-dark">TO WONDERFUL TOYS</button>
    </div>
  </div>
  <div class="product-container">
    <div class="half-container">
      <h3>SEE SOMETHING YOU LIKE?</h3>
      <p>
        Have you noticed how scents are the most intense form of individualism
        the fashion world has ever known? That’s because perfume-houses
        celebrate individuality by creating these scented toys you can play with
        just to style them with your mood, attitude, desires, clothes, or
        occasions.
      </p>
      <button type="button" class="btn btn-dark">TOY WITH SCENTS</button>
    </div>
    <div class="half-container">
      <img class="img-fluid" src="assets/toy-scents.jpg" />
    </div>
  </div>
  <div class="product-container">
    <div class="half-container">
      <img class="img-fluid" src="assets/caught-moment.jpg" />
    </div>
    <div class="half-container">
      <h3>CAUGHT IN THE MOMENT</h3>
      <p>
        Pleasure seekers go all out, especially with niche compositions. And
        these speak to those who are not afraid to toy with the idea of being
        completely original in niche selection. This means, a scented toy - the
        perfume itself - is essential as it improves the ability to express
        yourself.
      </p>
      <button type="button" class="btn btn-dark">JUST TOY NOW</button>
    </div>
  </div>
  <div class="product-container">
    <div class="half-container">
      <h3>HOW MANY TOYS CAN YOU PLAY WITH?</h3>
      <p>
        A niche perfume’s mission is to play big and outside the box, while your
        mission is to toy with that perfume. Because such scented toys - scents
        - are important as they fully nurture your pleasures, day-to-day.
      </p>
      <button type="button" class="btn btn-dark">TOYS OF CHOICE</button>
    </div>
    <div class="half-container">
      <img class="img-fluid" src="assets/toys-choice.jpg" />
    </div>
  </div>
  <div class="obssesion-container">
    <div class="obssesion-title">
      <h3>OUR OBSESSIONS</h3>
    </div>
    <div class="obssesion-content">
    <div class="third-container">
      <img class="card-img-top" src="assets/obssesion-amouage.jpg" alt="Amouage">
  <div class="card-body">
    <h5 class="card-title">Amouage</h5>
    <p class="card-text">Lineage (100 ml)</p>
    <p class="card-price">1,625 RON</p>
    </div>
  </div>
  <div class="third-container">
    <img class="card-img-top" src="assets/obssesion-marly.jpg" alt="Parfumes de Marly">
<div class="card-body">
  <h5 class="card-title">Parfums de Marly</h5>
  <p class="card-text">Valaya (75 ml)</p>
  <p class="card-price">1,225 RON</p>
  </div>
</div>
<div class="third-container">
  <img class="card-img-top" src="assets/obssesion-malone.jpg" alt="Jo Malone">
<div class="card-body">
<h5 class="card-title">Jo Malone London</h5>
<p class="card-text">Rose Blush - Limited Edition (50 ml)</p>
<p class="card-price">455 RON</p>
</div>
</div>
    </div>
</div>
</div>