<div class="card">
    <div class="card-body">
      <h5 class="card-title">Termeni și Condiții de utilizare a magazinului online Obsentum</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p><b>1.Aspecte Generale</b></p>
        <p>
            1.1. Millenium Pro Design S.R.L., Str. Sulfinei nr.3, Otopeni, Jud. Ilfov, Romania administrează platforma Obsentum de comercializare a unor produse prin intermediul paginii de
        </p>
        <p>
            internet www.obsentum.com (”Website-ul”) și a magazinelor sub marca Obsentum(”Magazinele Obsentum”).
        </p>
        <p>
            1.2. Acest set de termeni și condiții guvernează termenii și condițiile în care:
        </p>
        <p>
          a. orice persoană fizică, utilizator Obsentum, poate să acceseze și să utilizeze Platforma Obsentum;
        </p>
        <p>
            b. să beneficieze de orice serviciu / beneficiu oferit de Societate (“Serviciile”) prin intermediul sau în contextul operării Platformei Obsentum, inclusiv serviciul de comerț
        </p>
        <p>
            electronic condus exclusiv pe porțiunile public disponibile ale Website-ului, în sensul acordării posibilității Utilizatorului de a contracta produse și/sau servicii folosind
        </p>
        <p>mijloace exclusiv electronice, precum și orice alte facilități / beneficii oferite de Societate Membrilor Platformei Obsentum.</p>
      </li>
    </ul>
  </div>
  
