<div class="card">
    <div class="card-body">
      <h5 class="card-title">Politica de confidentialitate</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h6>POLITICA DE CONFIDENȚIALITATE A DATELOR</h6>
        <p>
            Societatea se angajează nu numai să vă ofere produse la cele mai înalte standarde de calitate și la un preț de neegalat, ci să asigure și cel mai înalt grad de protecție a datelor
        </p>
        <p>
            dumneavoastră cu caracter personal. Societatea prelucrează o serie de date cu caracter personal ale Membrilor / potențialilor Membri (inclusiv a Utilizatorilor atunci când
        </p>
        <p>
            aceștia accesează Website-ul).
        </p>
        <p>
            Această politică de confidențialitate („Politica”) descrie ce tipuri de date cu caracter personal sunt prelucrate, cum sunt acestea utilizate, care sunt opțiunile dvs. în legătură
        </p>
        <p>cu aceste prelucrări, precum și modul în care Societatea va respecta drepturile pe care le aveți în calitate de persoană vizată, conform legislației privind protecția datelor cu</p>
      <p>caracter personal, inclusiv Regulamentul (UE) 2016/679 („GDPR”).</p>
    </li>
    </ul>
  </div>
  