<div class="card">
  <div class="card-body">
    <h5 class="card-title">About us</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p>Cand <b>Pasiunea</b> intalneste <b>Inspiratia</b>, se naste <b>Obsesia.</b></p>
      <p>
        Din 2016, experienta Obsentum este un joc de seductie absolut, este un
        ritual emotional, este obsesia care devine, prin fiecare alegere, tot
        mai puternica.
      </p>
      <p>
        Prin toate numele importante pe care le detine, Obsentum celebreaza doar
        acel caracter distinct, exclusivist, excesiv si excentric, care
        definește dar si compune esentele parfumeriei niche. Pentru ca Obsentum
        este The House of Forbidden Scents, unde nimic nu este interzis, totul
        este permis. Este alternativa sofisticata pentru acele creatii
        inovatoare, compuse din ingrediente naturale si inedite.
      </p>
      <p>
        Experienta Obsentum este, in adevaratul sens, un ritual pentru toti cei
        care prefera ca lucrurile sa nu ramana niciodata la fel, pentru toti cei
        care au gasit ce isi doreau atunci cand se asteptau mai putin, pentru
        toti cei care isi cultiva pasiunea pentru parfumurile de nisa cu cele
        mai extravagante nume.
      </p>
      <p>
        Continuam, si in online, sa mentinem experienta Obsentum. Brand
        Ambasadorii nostri vor ambala si livra cu cea mai mare atentie si grija,
        fiecare alegere pe care o faceti aici, la noua noastra adresa.
      </p>
    </li>
  </ul>
</div>
