<div class="footer">
    <div class="first-container">
    <div class="quarter-container">
        <h6>The Store</h6>
        <a href="" class="item">About</a>
        <a href="" class="item">Terms and conditions</a>
        <a href="" class="item">Privacy policy</a>
        <a href="" class="item">Cookie policy</a>
    </div>
    <div class="quarter-container">
        <h6>Customer Care</h6>
        <a href="" class="item">Contact us</a>
        <a href="" class="item">Delivery & shipping</a>
        <a href="" class="item">Returns policy</a>
        <a href="" class="item">ANPC</a>
        <a href="" class="item">ANPC - SAL</a>
    </div>
    <div class="quarter-container">
        <h6>Payment methods</h6>
        <div class="payment-icons">
            <i class="fa fa-cc-mastercard"></i>
            <i class="fa fa-cc-visa" ></i>
        </div>
    </div>
    <div class="quarter-container">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fobsentum%2Fposts%2Fpfbid0rXm1k5VBk22HEbYP5JVqk5EZf9mGWJTmdprrd5hspNK17L3CYHQbXVXNmSBBjt4Ml&show_text=true&width=500" width="100%" height="100%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
    </div>
    <div class="second-container">
        <div class="social-icons">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-instagram" ></i>
            <i class="fa fa-youtube-square" ></i>
        </div>
    </div>
</div>